In [1]:
import pandas as pd
import math as m
import numpy as np
import matplotlib.pyplot as plt
from time import time

from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import MinMaxScaler, StandardScaler

Bad key "â€œbackend" on line 1 in
/Users/rfdanti/.matplotlib/matplotlibrc.
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.2.1/matplotlibrc.template
or from the matplotlib source distribution

In [7]:
trainset = pd.read_csv("full_trainset_v2.csv")
testset = pd.read_csv("test_merged0.5.csv")

testset.sort_values(['Store', 'Date'], ascending=[True, True], inplace=True)
testset = testset.reset_index(drop=True)
testset = testset.drop(columns='NewPromo2Month', axis=1)
testset = testset.rename(columns={"competition_age_days": "CompetitionAge", "affectedbycompetition": "AffectedByCompetition",
                        "affectedbypromo2": "AffectedByPromo2", "month": "Month"})
testset.head()
trainset.head()

testset["WeekOfYear"] = np.nan
testset["DateOfMonth"] = np.nan
testset['Dates'] = pd.to_datetime(testset['Date'])
testset['DateOfMonth'] = testset['Dates'].dt.day
import datetime
testset['WeekOfYear'] = testset['Dates'].dt.week
testset = testset.drop(columns='Dates', axis=1)
testset['CompetitionDistance'] = trainset['CompetitionDistance'].astype('int')
testset['Customers'] = np.nan
testset.head()

trainset = trainset.drop(["CompetitionOpenSinceMonth", "CompetitionOpenSinceYear", "CompetitionOpenSinceDate",
                          "Promo2SinceWeek", "Promo2SinceYear", "Promo2SinceDate"], axis = 1)
trainset.head()

trainset = trainset[["Date", "Store", "StoreType", "Assortment",
                     "StateHoliday", "SchoolHoliday", "Promo", "Open", "OpeningType",
                     "DayOfWeek", "DateOfMonth", "Month", "WeekOfYear",
                     "Promo2", "PromoInterval", "AffectedByPromo2",
                     "CompetitionDistance", "CompetitionAge", "AffectedByCompetition",
                     "Sales", "Customers"]]
testset = testset[["Date", "Store", "StoreType", "Assortment",
                     "StateHoliday", "SchoolHoliday", "Promo", "Open", "OpeningType",
                     "DayOfWeek", "DateOfMonth", "Month", "WeekOfYear",
                     "Promo2", "PromoInterval", "AffectedByPromo2",
                     "CompetitionDistance", "CompetitionAge", "AffectedByCompetition",
                     "Sales", "Customers"]]             
                   
trainset.info()
testset.info()

#trainset.to_csv("final_trainset.csv", index=False)
#testset.to_csv("final_testset.csv", index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050330 entries, 0 to 1050329
Data columns (total 21 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Date                   1050330 non-null  object
 1   Store                  1050330 non-null  int64
 2   StoreType              1050330 non-null  int64
 3   Assortment             1050330 non-null  int64
 4   StateHoliday           1050330 non-null  int64
 5   SchoolHoliday          1050330 non-null  int64
 6   Promo                  1050330 non-null  int64
 7   Open                   1050330 non-null  int64
 8   OpeningType            1050330 non-null  int64
 9   DayOfWeek              1050330 non-null  int64
 10  DateOfMonth            1050330 non-null  int64
 11  Month                  1050330 non-null  int64
 12  WeekOfYear             1050330 non-null  int64
 13  Promo2                 1050330 non-null  int64
 14  PromoInterval          1050330 non-null  int64
 15  AffectedByPromo2       1050330 non-null  int64
 16  CompetitionDistance    1050330 non-null  int64
 17  CompetitionAge         1050330 non-null  int64
 18  AffectedByCompetition  1050330 non-null  int64
 19  Sales                  1050330 non-null  int64
 20  Customers              1050330 non-null  int64
dtypes: int64(20), object(1)
memory usage: 168.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41088 entries, 0 to 41087
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Date                   41088 non-null  object
 1   Store                  41088 non-null  int64
 2   StoreType              41088 non-null  int64
 3   Assortment             41088 non-null  int64
 4   StateHoliday           41088 non-null  int64
 5   SchoolHoliday          41088 non-null  bool
 6   Promo                  41088 non-null  bool
 7   Open                   41088 non-null  bool
 8   OpeningType            41088 non-null  int64
 9   DayOfWeek              41088 non-null  int64
 10  DateOfMonth            41088 non-null  int64
 11  Month                  41088 non-null  int64
 12  WeekOfYear             41088 non-null  int64
 13  Promo2                 41088 non-null  bool
 14  PromoInterval          41088 non-null  int64
 15  AffectedByPromo2       41088 non-null  bool
 16  CompetitionDistance    41088 non-null  int64
 17  CompetitionAge         41088 non-null  int64
 18  AffectedByCompetition  41088 non-null  bool
 19  Sales                  0 non-null      float64
 20  Customers              0 non-null      float64
dtypes: bool(6), float64(2), int64(12), object(1)
memory usage: 4.9+ MB

In [2]:
testset = pd.read_csv("test_merged0.5.csv")
testset

,Store,StoreType,Assortment,Promo2,PromoInterval,DayOfWeek,Date,Sales,Open,Promo,StateHoliday,SchoolHoliday,affectedbypromo2,affectedbycompetition,competition_age_days,month,NewPromo2Month,OpeningType,CompetitionDistance
0,1,2,0,False,0,4,2015-09-17,NaN,True,True,0,False,False,True,2572,9,False,0,1270.0
1,1,2,0,False,0,3,2015-09-16,NaN,True,True,0,False,False,True,2571,9,False,0,1270.0
2,1,2,0,False,0,2,2015-09-15,NaN,True,True,0,False,False,True,2570,9,False,0,1270.0
3,1,2,0,False,0,1,2015-09-14,NaN,True,True,0,False,False,True,2569,9,False,0,1270.0
4,1,2,0,False,0,7,2015-09-13,NaN,False,False,0,False,False,True,2568,9,False,0,1270.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41083,1115,3,2,True,3,3,2015-05-08,NaN,True,True,0,True,True,True,1830,8,False,0,5350.0
41084,1115,3,2,True,3,2,2015-04-08,NaN,True,True,0,True,True,True,1829,8,False,0,5350.0
41085,1115,3,2,True,3,1,2015-03-08,NaN,True,True,0,True,True,True,1828,8,False,0,5350.0
41086,1115,3,2,True,3,7,2015-02-08,NaN,False,False,0,True,True,True,1827,8,False,0,5350.0
41087,1115,3,2,True,3,6,2015-01-08,NaN,True,False,0,True,True,True,1826,8,False,0,5350.0

In [3]:
testset[testset["Store"]==1]

,Store,StoreType,Assortment,Promo2,PromoInterval,DayOfWeek,Date,Sales,Open,Promo,StateHoliday,SchoolHoliday,affectedbypromo2,affectedbycompetition,competition_age_days,month,NewPromo2Month,OpeningType,CompetitionDistance
0,1,2,0,False,0,4,2015-09-17,NaN,True,True,0,False,False,True,2572,9,False,0,1270.0
1,1,2,0,False,0,3,2015-09-16,NaN,True,True,0,False,False,True,2571,9,False,0,1270.0
2,1,2,0,False,0,2,2015-09-15,NaN,True,True,0,False,False,True,2570,9,False,0,1270.0
3,1,2,0,False,0,1,2015-09-14,NaN,True,True,0,False,False,True,2569,9,False,0,1270.0
4,1,2,0,False,0,7,2015-09-13,NaN,False,False,0,False,False,True,2568,9,False,0,1270.0
5,1,2,0,False,0,6,2015-12-09,NaN,True,False,0,False,False,True,2567,9,False,0,1270.0
6,1,2,0,False,0,5,2015-11-09,NaN,True,False,0,False,False,True,2566,9,False,0,1270.0
7,1,2,0,False,0,4,2015-10-09,NaN,True,False,0,False,False,True,2565,9,False,0,1270.0
8,1,2,0,False,0,3,2015-09-09,NaN,True,False,0,False,False,True,2564,9,False,0,1270.0
9,1,2,0,False,0,2,2015-08-09,NaN,True,False,0,False,False,True,2563,9,False,0,1270.0
10,1,2,0,False,0,1,2015-07-09,NaN,True,False,0,False,False,True,2562,9,False,0,1270.0
11,1,2,0,False,0,7,2015-06-09,NaN,False,False,0,False,False,True,2561,9,False,0,1270.0
12,1,2,0,False,0,6,2015-05-09,NaN,True,False,0,False,False,True,2560,9,False,0,1270.0
13,1,2,0,False,0,5,2015-04-09,NaN,True,True,0,True,False,True,2559,9,False,0,1270.0
14,1,2,0,False,0,4,2015-03-09,NaN,True,True,0,True,False,True,2558,9,False,0,1270.0
15,1,2,0,False,0,3,2015-02-09,NaN,True,True,0,True,False,True,2557,9,False,0,1270.0
16,1,2,0,False,0,2,2015-01-09,NaN,True,True,0,True,False,True,2556,9,False,0,1270.0
17,1,2,0,False,0,1,2015-08-31,NaN,True,True,0,True,False,True,2555,8,False,0,1270.0
18,1,2,0,False,0,7,2015-08-30,NaN,False,False,0,True,False,True,2554,8,False,0,1270.0
19,1,2,0,False,0,6,2015-08-29,NaN,True,False,0,True,False,True,2553,8,False,0,1270.0
20,1,2,0,False,0,5,2015-08-28,NaN,True,False,0,True,False,True,2552,8,False,0,1270.0
21,1,2,0,False,0,4,2015-08-27,NaN,True,False,0,True,False,True,2551,8,False,0,1270.0
22,1,2,0,False,0,3,2015-08-26,NaN,True,False,0,True,False,True,2550,8,False,0,1270.0
23,1,2,0,False,0,2,2015-08-25,NaN,True,False,0,True,False,True,2549,8,False,0,1270.0
24,1,2,0,False,0,1,2015-08-24,NaN,True,False,0,True,False,True,2548,8,False,0,1270.0
25,1,2,0,False,0,7,2015-08-23,NaN,False,False,0,True,False,True,2547,8,False,0,1270.0
26,1,2,0,False,0,6,2015-08-22,NaN,True,False,0,True,False,True,2546,8,False,0,1270.0
27,1,2,0,False,0,5,2015-08-21,NaN,True,True,0,True,False,True,2545,8,False,0,1270.0
28,1,2,0,False,0,4,2015-08-20,NaN,True,True,0,True,False,True,2544,8,False,0,1270.0
29,1,2,0,False,0,3,2015-08-19,NaN,True,True,0,True,False,True,2543,8,False,0,1270.0
30,1,2,0,False,0,2,2015-08-18,NaN,True,True,0,True,False,True,2542,8,False,0,1270.0
31,1,2,0,False,0,1,2015-08-17,NaN,True,True,0,True,False,True,2541,8,False,0,1270.0
32,1,2,0,False,0,7,2015-08-16,NaN,False,False,0,True,False,True,2540,8,False,0,1270.0
33,1,2,0,False,0,6,2015-08-15,NaN,True,False,0,True,False,True,2539,8,False,0,1270.0
34,1,2,0,False,0,5,2015-08-14,NaN,True,False,0,True,False,True,2538,8,False,0,1270.0
35,1,2,0,False,0,4,2015-08-13,NaN,True,False,0,True,False,True,2537,8,False,0,1270.0
36,1,2,0,False,0,3,2015-12-08,NaN,True,False,0,True,False,True,2536,8,False,0,1270.0
37,1,2,0,False,0,2,2015-11-08,NaN,True,False,0,True,False,True,2535,8,False,0,1270.0
38,1,2,0,False,0,1,2015-10-08,NaN,True,False,0,True,False,True,2534,8,False,0,1270.0
39,1,2,0,False,0,7,2015-09-08,NaN,False,False,0,True,False,True,2533,8,False,0,1270.0
40,1,2,0,False,0,6,2015-08-08,NaN,True,False,0,True,False,True,2532,8,False,0,1270.0
41,1,2,0,False,0,5,2015-07-08,NaN,True,True,0,True,False,True,2531,8,False,0,1270.0
42,1,2,0,False,0,4,2015-06-08,NaN,True,True,0,True,False,True,2530,8,False,0,1270.0
43,1,2,0,False,0,3,2015-05-08,NaN,True,True,0,True,False,True,2529,8,False,0,1270.0
44,1,2,0,False,0,2,2015-04-08,NaN,True,True,0,True,False,True,2528,8,False,0,1270.0
45,1,2,0,False,0,1,2015-03-08,NaN,True,True,0,True,False,True,2527,8,False,0,1270.0
46,1,2,0,False,0,7,2015-02-08,NaN,False,False,0,True,False,True,2526,8,False,0,1270.0
47,1,2,0,False,0,6,2015-01-08,NaN,True,False,0,True,False,True,2525,8,False,0,1270.0

In [4]:
testset["Date"] = pd.to_datetime(testset["Date"].astype(str), format = '%Y/%m/%d')
testset[testset["Store"]==1]

,Store,StoreType,Assortment,Promo2,PromoInterval,DayOfWeek,Date,Sales,Open,Promo,StateHoliday,SchoolHoliday,affectedbypromo2,affectedbycompetition,competition_age_days,month,NewPromo2Month,OpeningType,CompetitionDistance
0,1,2,0,False,0,4,2015-09-17,NaN,True,True,0,False,False,True,2572,9,False,0,1270.0
1,1,2,0,False,0,3,2015-09-16,NaN,True,True,0,False,False,True,2571,9,False,0,1270.0
2,1,2,0,False,0,2,2015-09-15,NaN,True,True,0,False,False,True,2570,9,False,0,1270.0
3,1,2,0,False,0,1,2015-09-14,NaN,True,True,0,False,False,True,2569,9,False,0,1270.0
4,1,2,0,False,0,7,2015-09-13,NaN,False,False,0,False,False,True,2568,9,False,0,1270.0
5,1,2,0,False,0,6,2015-12-09,NaN,True,False,0,False,False,True,2567,9,False,0,1270.0
6,1,2,0,False,0,5,2015-11-09,NaN,True,False,0,False,False,True,2566,9,False,0,1270.0
7,1,2,0,False,0,4,2015-10-09,NaN,True,False,0,False,False,True,2565,9,False,0,1270.0
8,1,2,0,False,0,3,2015-09-09,NaN,True,False,0,False,False,True,2564,9,False,0,1270.0
9,1,2,0,False,0,2,2015-08-09,NaN,True,False,0,False,False,True,2563,9,False,0,1270.0
10,1,2,0,False,0,1,2015-07-09,NaN,True,False,0,False,False,True,2562,9,False,0,1270.0
11,1,2,0,False,0,7,2015-06-09,NaN,False,False,0,False,False,True,2561,9,False,0,1270.0
12,1,2,0,False,0,6,2015-05-09,NaN,True,False,0,False,False,True,2560,9,False,0,1270.0
13,1,2,0,False,0,5,2015-04-09,NaN,True,True,0,True,False,True,2559,9,False,0,1270.0
14,1,2,0,False,0,4,2015-03-09,NaN,True,True,0,True,False,True,2558,9,False,0,1270.0
15,1,2,0,False,0,3,2015-02-09,NaN,True,True,0,True,False,True,2557,9,False,0,1270.0
16,1,2,0,False,0,2,2015-01-09,NaN,True,True,0,True,False,True,2556,9,False,0,1270.0
17,1,2,0,False,0,1,2015-08-31,NaN,True,True,0,True,False,True,2555,8,False,0,1270.0
18,1,2,0,False,0,7,2015-08-30,NaN,False,False,0,True,False,True,2554,8,False,0,1270.0
19,1,2,0,False,0,6,2015-08-29,NaN,True,False,0,True,False,True,2553,8,False,0,1270.0
20,1,2,0,False,0,5,2015-08-28,NaN,True,False,0,True,False,True,2552,8,False,0,1270.0
21,1,2,0,False,0,4,2015-08-27,NaN,True,False,0,True,False,True,2551,8,False,0,1270.0
22,1,2,0,False,0,3,2015-08-26,NaN,True,False,0,True,False,True,2550,8,False,0,1270.0
23,1,2,0,False,0,2,2015-08-25,NaN,True,False,0,True,False,True,2549,8,False,0,1270.0
24,1,2,0,False,0,1,2015-08-24,NaN,True,False,0,True,False,True,2548,8,False,0,1270.0
25,1,2,0,False,0,7,2015-08-23,NaN,False,False,0,True,False,True,2547,8,False,0,1270.0
26,1,2,0,False,0,6,2015-08-22,NaN,True,False,0,True,False,True,2546,8,False,0,1270.0
27,1,2,0,False,0,5,2015-08-21,NaN,True,True,0,True,False,True,2545,8,False,0,1270.0
28,1,2,0,False,0,4,2015-08-20,NaN,True,True,0,True,False,True,2544,8,False,0,1270.0
29,1,2,0,False,0,3,2015-08-19,NaN,True,True,0,True,False,True,2543,8,False,0,1270.0
30,1,2,0,False,0,2,2015-08-18,NaN,True,True,0,True,False,True,2542,8,False,0,1270.0
31,1,2,0,False,0,1,2015-08-17,NaN,True,True,0,True,False,True,2541,8,False,0,1270.0
32,1,2,0,False,0,7,2015-08-16,NaN,False,False,0,True,False,True,2540,8,False,0,1270.0
33,1,2,0,False,0,6,2015-08-15,NaN,True,False,0,True,False,True,2539,8,False,0,1270.0
34,1,2,0,False,0,5,2015-08-14,NaN,True,False,0,True,False,True,2538,8,False,0,1270.0
35,1,2,0,False,0,4,2015-08-13,NaN,True,False,0,True,False,True,2537,8,False,0,1270.0
36,1,2,0,False,0,3,2015-12-08,NaN,True,False,0,True,False,True,2536,8,False,0,1270.0
37,1,2,0,False,0,2,2015-11-08,NaN,True,False,0,True,False,True,2535,8,False,0,1270.0
38,1,2,0,False,0,1,2015-10-08,NaN,True,False,0,True,False,True,2534,8,False,0,1270.0
39,1,2,0,False,0,7,2015-09-08,NaN,False,False,0,True,False,True,2533,8,False,0,1270.0
40,1,2,0,False,0,6,2015-08-08,NaN,True,False,0,True,False,True,2532,8,False,0,1270.0
41,1,2,0,False,0,5,2015-07-08,NaN,True,True,0,True,False,True,2531,8,False,0,1270.0
42,1,2,0,False,0,4,2015-06-08,NaN,True,True,0,True,False,True,2530,8,False,0,1270.0
43,1,2,0,False,0,3,2015-05-08,NaN,True,True,0,True,False,True,2529,8,False,0,1270.0
44,1,2,0,False,0,2,2015-04-08,NaN,True,True,0,True,False,True,2528,8,False,0,1270.0
45,1,2,0,False,0,1,2015-03-08,NaN,True,True,0,True,False,True,2527,8,False,0,1270.0
46,1,2,0,False,0,7,2015-02-08,NaN,False,False,0,True,False,True,2526,8,False,0,1270.0
47,1,2,0,False,0,6,2015-01-08,NaN,True,False,0,True,False,True,2525,8,False,0,1270.0

In [5]:
trainset = pd.read_csv("full_trainset_v2.csv")

In [20]:
trainset[trainset["Month"]==9][trainset["Store"]==9]

/Users/rfdanti/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,Date,Store,StoreType,Assortment,StateHoliday,SchoolHoliday,Promo,Open,OpeningType,DayOfWeek,...,Month,WeekOfYear,Promo2,PromoInterval,AffectedByPromo2,CompetitionDistance,CompetitionAge,AffectedByCompetition,Sales,Customers
7779,2013-09-01,9,0,2,0,0,0,0,0,7,...,9,35,0,0,0,2030,4779,1,0,0
7780,2013-09-02,9,0,2,0,1,0,1,0,1,...,9,36,0,0,0,2030,4780,1,6509,589
7781,2013-09-03,9,0,2,0,1,0,1,0,2,...,9,36,0,0,0,2030,4781,1,4986,524
7782,2013-09-04,9,0,2,0,0,0,1,0,3,...,9,36,0,0,0,2030,4782,1,5472,535
7783,2013-09-05,9,0,2,0,0,0,1,0,4,...,9,36,0,0,0,2030,4783,1,4588,466
7784,2013-09-06,9,0,2,0,0,0,1,0,5,...,9,36,0,0,0,2030,4784,1,5272,481
7785,2013-09-07,9,0,2,0,0,0,1,0,6,...,9,36,0,0,0,2030,4785,1,5352,500
7786,2013-09-08,9,0,2,0,0,0,0,0,7,...,9,36,0,0,0,2030,4786,1,0,0
7787,2013-09-09,9,0,2,0,0,1,1,0,1,...,9,37,0,0,0,2030,4787,1,9247,744
7788,2013-09-10,9,0,2,0,0,1,1,0,2,...,9,37,0,0,0,2030,4788,1,6218,516
7789,2013-09-11,9,0,2,0,0,1,1,0,3,...,9,37,0,0,0,2030,4789,1,6617,559
7790,2013-09-12,9,0,2,0,0,1,1,0,4,...,9,37,0,0,0,2030,4790,1,5867,535
7791,2013-09-13,9,0,2,0,0,1,1,0,5,...,9,37,0,0,0,2030,4791,1,6550,595
7792,2013-09-14,9,0,2,0,0,0,1,0,6,...,9,37,0,0,0,2030,4792,1,4735,467
7793,2013-09-15,9,0,2,0,0,0,0,0,7,...,9,37,0,0,0,2030,4793,1,0,0
7794,2013-09-16,9,0,2,0,0,0,1,0,1,...,9,38,0,0,0,2030,4794,1,5165,529
7795,2013-09-17,9,0,2,0,0,0,1,0,2,...,9,38,0,0,0,2030,4795,1,4830,469
7796,2013-09-18,9,0,2,0,0,0,1,0,3,...,9,38,0,0,0,2030,4796,1,4693,479
7797,2013-09-19,9,0,2,0,0,0,1,0,4,...,9,38,0,0,0,2030,4797,1,4677,478
7798,2013-09-20,9,0,2,0,0,0,1,0,5,...,9,38,0,0,0,2030,4798,1,4859,489
7799,2013-09-21,9,0,2,0,0,0,1,0,6,...,9,38,0,0,0,2030,4799,1,4782,450
7800,2013-09-22,9,0,2,0,0,0,0,0,7,...,9,38,0,0,0,2030,4800,1,0,0
7801,2013-09-23,9,0,2,0,0,1,1,0,1,...,9,39,0,0,0,2030,4801,1,7903,660
7802,2013-09-24,9,0,2,0,0,1,1,0,2,...,9,39,0,0,0,2030,4802,1,5854,563
7803,2013-09-25,9,0,2,0,0,1,1,0,3,...,9,39,0,0,0,2030,4803,1,5199,511
7804,2013-09-26,9,0,2,0,0,1,1,0,4,...,9,39,0,0,0,2030,4804,1,5216,474
7805,2013-09-27,9,0,2,0,0,1,1,0,5,...,9,39,0,0,0,2030,4805,1,5650,538
7806,2013-09-28,9,0,2,0,0,0,1,0,6,...,9,39,0,0,0,2030,4806,1,5174,453
7807,2013-09-29,9,0,2,0,0,0,0,0,7,...,9,39,0,0,0,2030,4807,1,0,0
7808,2013-09-30,9,0,2,0,0,0,1,0,1,...,9,40,0,0,0,2030,4808,1,6511,580
8144,2014-09-01,9,0,2,0,0,1,1,0,1,...,9,36,0,0,0,2030,5144,1,10494,817
8145,2014-09-02,9,0,2,0,0,1,1,0,2,...,9,36,0,0,0,2030,5145,1,8395,688
8146,2014-09-03,9,0,2,0,0,1,1,0,3,...,9,36,0,0,0,2030,5146,1,7865,658
8147,2014-09-04,9,0,2,0,0,1,1,0,4,...,9,36,0,0,0,2030,5147,1,6734,601
8148,2014-09-05,9,0,2,0,0,1,1,0,5,...,9,36,0,0,0,2030,5148,1,7752,651
8149,2014-09-06,9,0,2,0,0,0,1,0,6,...,9,36,0,0,0,2030,5149,1,5762,549
8150,2014-09-07,9,0,2,0,0,0,0,0,7,...,9,36,0,0,0,2030,5150,1,0,0
8151,2014-09-08,9,0,2,0,0,0,1,0,1,...,9,37,0,0,0,2030,5151,1,6068,577
8152,2014-09-09,9,0,2,0,0,0,1,0,2,...,9,37,0,0,0,2030,5152,1,5228,537
8153,2014-09-10,9,0,2,0,0,0,1,0,3,...,9,37,0,0,0,2030,5153,1,5084,496
8154,2014-09-11,9,0,2,0,0,0,1,0,4,...,9,37,0,0,0,2030,5154,1,5152,502
8155,2014-09-12,9,0,2,0,0,0,1,0,5,...,9,37,0,0,0,2030,5155,1,5642,543
8156,2014-09-13,9,0,2,0,0,0,1,0,6,...,9,37,0,0,0,2030,5156,1,6620,552
8157,2014-09-14,9,0,2,0,0,0,0,0,7,...,9,37,0,0,0,2030,5157,1,0,0
8158,2014-09-15,9,0,2,0,0,1,1,0,1,...,9,38,0,0,0,2030,5158,1,9517,800
8159,2014-09-16,9,0,2,0,0,1,1,0,2,...,9,38,0,0,0,2030,5159,1,7089,646
8160,2014-09-17,9,0,2,0,0,1,1,0,3,...,9,38,0,0,0,2030,5160,1,6152,555
8161,2014-09-18,9,0,2,0,0,1,1,0,4,...,9,38,0,0,0,2030,5161,1,5796,576
8162,2014-09-19,9,0,2,0,0,1,1,0,5,...,9,38,0,0,0,2030,5162,1,7345,643
8163,2014-09-20,9,0,2,0,0,0,1,0,6,...,9,38,0,0,0,2030,5163,1,5770,539
8164,2014-09-21,9,0,2,0,0,0,0,0,7,...,9,38,0,0,0,2030,5164,1,0,0
8165,2014-09-22,9,0,2,0,0,0,1,0,1,...,9,39,0,0,0,2030,5165,1,5599,550
8166,2014-09-23,9,0,2,0,0,0,1,0,2,...,9,39,0,0,0,2030,5166,1,4841,524
8167,2014-09-24,9,0,2,0,0,0,1,0,3,...,9,39,0,0,0,2030,5167,1,5136,500
8168,2014-09-25,9,0,2,0,0,0,1,0,4,...,9,39,0,0,0,2030,5168,1,4950,496
8169,2014-09-26,9,0,2,0,0,0,1,0,5,...,9,39,0,0,0,2030,5169,1,5993,574
8170,2014-09-27,9,0,2,0,0,0,1,0,6,...,9,39,0,0,0,2030,5170,1,6313,540
8171,2014-09-28,9,0,2,0,0,0,0,0,7,...,9,39,0,0,0,2030,5171,1,0,0
8172,2014-09-29,9,0,2,0,0,1,1,0,1,...,9,40,0,0,0,2030,5172,1,8992,700
8173,2014-09-30,9,0,2,0,0,1,1,0,2,...,9,40,0,0,0,2030,5173,1,8663,730

In [21]:
testset[testset["Month"]==9][testset["Store"]==9]

/Users/rfdanti/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,Date,Store,StoreType,Assortment,StateHoliday,SchoolHoliday,Promo,Open,OpeningType,DayOfWeek,...,Month,WeekOfYear,Promo2,PromoInterval,AffectedByPromo2,CompetitionDistance,CompetitionAge,AffectedByCompetition,Sales,Customers
193,2015-01-09,9,0,2,0,False,True,True,0,2,...,9,2,False,0,False,1270,5509,True,NaN,NaN
195,2015-02-09,9,0,2,0,False,True,True,0,3,...,9,7,False,0,False,1270,5510,True,NaN,NaN
197,2015-03-09,9,0,2,0,False,True,True,0,4,...,9,11,False,0,False,1270,5511,True,NaN,NaN
199,2015-04-09,9,0,2,0,False,True,True,0,5,...,9,15,False,0,False,1270,5512,True,NaN,NaN
201,2015-05-09,9,0,2,0,False,False,True,0,6,...,9,19,False,0,False,1270,5513,True,NaN,NaN
203,2015-06-09,9,0,2,0,False,False,False,0,7,...,9,24,False,0,False,1270,5514,True,NaN,NaN
205,2015-07-09,9,0,2,0,False,False,True,0,1,...,9,28,False,0,False,1270,5515,True,NaN,NaN
207,2015-08-09,9,0,2,0,False,False,True,0,2,...,9,32,False,0,False,1270,5516,True,NaN,NaN
228,2015-09-09,9,0,2,0,False,False,True,0,3,...,9,37,False,0,False,1270,5517,True,NaN,NaN
229,2015-09-13,9,0,2,0,False,False,False,0,7,...,9,37,False,0,False,1270,5521,True,NaN,NaN
230,2015-09-14,9,0,2,0,False,True,True,0,1,...,9,38,False,0,False,1270,5522,True,NaN,NaN
231,2015-09-15,9,0,2,0,False,True,True,0,2,...,9,38,False,0,False,1270,5523,True,NaN,NaN
232,2015-09-16,9,0,2,0,False,True,True,0,3,...,9,38,False,0,False,1270,5524,True,NaN,NaN
233,2015-09-17,9,0,2,0,False,True,True,0,4,...,9,38,False,0,False,1270,5525,True,NaN,NaN
235,2015-10-09,9,0,2,0,False,False,True,0,4,...,9,41,False,0,False,1270,5518,True,NaN,NaN
237,2015-11-09,9,0,2,0,False,False,True,0,5,...,9,46,False,0,False,1270,5519,True,NaN,NaN
239,2015-12-09,9,0,2,0,False,False,True,0,6,...,9,50,False,0,False,1270,5520,True,NaN,NaN